/* body design */
body {
    background-color: #33527a !important;
    background-image:
        linear-gradient(#a3a3a335 2px, transparent 2px),
        linear-gradient(90deg, #a3a3a335 2px, transparent 2px) !important;
    background-size: 30px 30px !important;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.card {
    background-color: #ffffff !important;
    border: 3px solid #ffffff !important;
    border-radius: .75rem;
    height: 100%;
    box-shadow: 6px 7px 9px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 6px 7px 9px -3px rgba(0,0,0,0.6);
    -moz-box-shadow: 6px 7px 9px 0px rgba(0,0,0,0.6);
}

hr {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #929292 !important; /* Replace with your desired color */
}


/* profile card */
#profile-pic{
    /* border: 3px solid #ffffff !important; */
    width: 55%;
    height: auto;
    border-radius: .75rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}

#profile-wrapper {
    background: url('images/cover_pic.jpg') no-repeat;
    background-size: 100% 35%;
}

#profile-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}


/* project cards */
.project {
    display: flex;
    align-items: center;
}

.project-icon {
    height: 200px;
}

.project-description {
    text-align: left;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 2%;
}

.project-text p {
    margin: 0;
    padding: 0;
}

.project-card {
    transition: transform 0.1s ease;
    padding: 2%;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card-link {
    text-decoration: none !important;
    color: inherit !important;
}

.project-card-link:hover, .project-card-link:focus {
    text-decoration: none !important;
    color: inherit !important;
}


/* social links */
ul {
    padding: 0;
}

.social{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    border-radius: .75rem;
    transition: transform 0.1s ease;
}

.social:hover {
    transform: scale(1.1);
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social-links a:hover {
    text-decoration: none;
}


/* text formatting */
.monospace-title {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 42px;
    font-weight: 900;
    padding-bottom: 1%;
    color: #33527a;
}

.monospace-bold {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 34px;
    font-weight: 900;
    padding-bottom: 1%;
    color: #33527a;
}

.monospace-semibold {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 1%;
    color: #33527a;
}

.subtitle {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    color: #929292;
}